Write a for loop that prints numbers from 1 to 10.

In [19]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Write a for loop that prints even numbers from 2 to 20.

In [20]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

Write a for loop that iterates over a list of fruits (fruits = ['apple', 'banana', 'orange', 'grape']) and prints each fruit.

In [21]:
fruits = ['apple', 'banana', 'orange', 'grape']
for fruit in fruits:
    print(fruit)

apple
banana
orange
grape

Write a for loop that iterates over a string (sentence = "Hello, World!") and prints each character.

In [23]:
sentence = "Hello, World!"
for sent in sentence:
    for i in sent:
        print(i)

H
e
l
l
o
,

W
o
r
l
d
!

Write a for loop that calculates the sum of numbers from 1 to 100.

In [33]:
total_sum=0
for i in range(1, 101):
    total_sum+=i
    print(total_sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

Write a for loop that iterates over a list of numbers and prints each number multiplied by 2.

In [36]:
A=[2,3,4,5,6,7]
for i in A:
    print(i*2)

4
6
8
10
12
14

Write a for loop that iterates over a dictionary (ages = {'Alice': 25, 'Bob': 30, 'Charlie': 35}) and prints each key-value pair.

In [44]:
ages = {'Alice': 25, 'Bob': 30, 'Charlie': 35}
for age in ages.items():
    print(age)

('Alice', 25)
('Bob', 30)
('Charlie', 35)

Write a for loop that iterates over a range of numbers from 10 to 1 (counting down) and prints each number.

In [56]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

Write a nested for loop that prints a multiplication table for numbers from 1 to 10.

In [66]:

for i in range(1,11):
    for j in range(1,11):
        print(f"{i} X {j} = {i}*{j}")
    print()

1 X 1 = 1*1
1 X 2 = 1*2
1 X 3 = 1*3
1 X 4 = 1*4
1 X 5 = 1*5
1 X 6 = 1*6
1 X 7 = 1*7
1 X 8 = 1*8
1 X 9 = 1*9
1 X 10 = 1*10

2 X 1 = 2*1
2 X 2 = 2*2
2 X 3 = 2*3
2 X 4 = 2*4
2 X 5 = 2*5
2 X 6 = 2*6
2 X 7 = 2*7
2 X 8 = 2*8
2 X 9 = 2*9
2 X 10 = 2*10

3 X 1 = 3*1
3 X 2 = 3*2
3 X 3 = 3*3
3 X 4 = 3*4
3 X 5 = 3*5
3 X 6 = 3*6
3 X 7 = 3*7
3 X 8 = 3*8
3 X 9 = 3*9
3 X 10 = 3*10

4 X 1 = 4*1
4 X 2 = 4*2
4 X 3 = 4*3
4 X 4 = 4*4
4 X 5 = 4*5
4 X 6 = 4*6
4 X 7 = 4*7
4 X 8 = 4*8
4 X 9 = 4*9
4 X 10 = 4*10

5 X 1 = 5*1
5 X 2 = 5*2
5 X 3 = 5*3
5 X 4 = 5*4
5 X 5 = 5*5
5 X 6 = 5*6
5 X 7 = 5*7
5 X 8 = 5*8
5 X 9 = 5*9
5 X 10 = 5*10

6 X 1 = 6*1
6 X 2 = 6*2
6 X 3 = 6*3
6 X 4 = 6*4
6 X 5 = 6*5
6 X 6 = 6*6
6 X 7 = 6*7
6 X 8 = 6*8
6 X 9 = 6*9
6 X 10 = 6*10

7 X 1 = 7*1
7 X 2 = 7*2
7 X 3 = 7*3
7 X 4 = 7*4
7 X 5 = 7*5
7 X 6 = 7*6
7 X 7 = 7*7
7 X 8 = 7*8
7 X 9 = 7*9
7 X 10 = 7*10

8 X 1 = 8*1
8 X 2 = 8*2
8 X 3 = 8*3
8 X 4 = 8*4
8 X 5 = 8*5
8 X 6 = 8*6
8 X 7 = 8*7
8 X 8 = 8*8
8 X 9 = 8*9
8 X 10 = 8*10

9 X 1 = 9*1
9 X 2 = 9*2
9 X 3 = 9*3
9 X 4 = 9*4
9 X 5 = 9*5
9 X 6 = 9*6
9 X 7 = 9*7
9 X 8 = 9*8
9 X 9 = 9*9
9 X 10 = 9*10

10 X 1 = 10*1
10 X 2 = 10*2
10 X 3 = 10*3
10 X 4 = 10*4
10 X 5 = 10*5
10 X 6 = 10*6
10 X 7 = 10*7
10 X 8 = 10*8
10 X 9 = 10*9
10 X 10 = 10*10

Write a Python program that prints all the even numbers between 1 and 50 using a for loop.

In [84]:
for i in range (1,51):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

enter the number 5
0
0
2
0
3
6
0
4
8
12